*{
    background-color: beige;
}
body{
    max-width: 1000px;
    justify-content: center;
    margin: auto;
}

h1, h2{
    text-align: center;
}
.lecture_form{
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.user{
    width: 45%;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
}

.ajout_f{
    width: 35%;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    margin-left: 50px;
}

input{
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    border-radius: 10px;
    width: 90%;
}


input[type="submit"]{
    text-align: center;
    background-color: rgb(154, 154, 132);
}

input[type="submit"]:hover{
    background-color: rgb(62, 61, 61);
    color: rgb(249, 248, 247);
}

.div_form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.regroup_user{
    display: block;
    width: 900px;
    margin: auto;
}